
.headings-styles
{
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  color: #f9e2b4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav #logo
{
  width: 150%;
  border-radius: 30px;
}

nav a
{
  font-size: 1.5em;
  font-weight: bold;
}

.tstyle {color: bisque;}

.nav-link
{
	color: #f9e2b4;
}


