
.headings-styles
{
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  color: #f9e2b4;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav #logo
{
  width: 150%;
  border-radius: 40px;
}

nav a
{
  font-size: 1.2em;
  font-weight: bold;
}

.nav-link
{
	color: #f9e2b4;
  min-width: 110px;
  text-align: center;
  border-left-style: groove;
}

.dropdown-item 
{ 
  text-align: center; 
  color: #f9e2b4;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  background-color: rgb(37, 2, 2);
  
}

body #btn-contact
{
  position: fixed;
  color: white;
  font-weight: bolder;
}

footer div .footer-style
{
  color: #f4b643;
}

footer li .footer-link
{
  font-size: 0.8em;
  color: #f9e2b4;
}

#main-style
{
  background: rgba(26, 12, 3, 1.0);
    background-color: rgba(26, 12, 3, 1.0);
}

.h1-text-style
{
  font-weight: bold;
  color: #e19403;
  font-family: 'Times New Roman', Times, serif;
}

.box-shadow
{
  box-shadow:0px 10px 10px rgba(255,216,201,0.490);
}

.tree-text-style
{
  color: #f9e2b4;
  font-weight: 600;
  font-style: italic;
  text-align: start;
  font-size: 1.1em;
}

.testimonials-style
{
  background: rgba(35, 22, 52, 0.96);
    background-color: rgba(35, 22, 52, 0.96);
  color: white;
}

.testimonials-style #text-style
{
  color: rgb(133, 135, 194);
}

.modal-cantact
{
  position: fixed;
  left: 85%;
  bottom: 50px;
  padding: 20px 5px;
  background: #d76608;
  color: white;
  border: 3px solid white;
  border-radius: 20px;
  font-weight: 900;
}

#footer-style
{
  background: rgba(48, 28, 17, 0.92);
    background-color: rgba(41, 22, 13, 0.92);
  border-top:8px solid #f9e2b4;
  border-color: #f9e2b4;
}
