
.headings-styles
{
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  color: #f9e2b4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav #logo
{
  width: 150%;
  border-radius: 30px;
}

nav a
{
  font-size: 1.2em;
  font-weight: bold;
}

.nav-link
{
	color: #f9e2b4;
  min-width: 100px;
  text-align: center;
  border-left-style: groove;
}

.dropdown-item 
{ 
  text-align: center; 
  color: #f9e2b4;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  background-color: rgb(37, 2, 2);
  
}

.navbar
{
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/rouge-bricks.jpg")
    center no-repeat fixed;
    background-color: rgba(0,0,0,0);
    background-position-x: 0%, center;
    background-position-y: 0%, center;
    background-repeat: repeat, no-repeat;
    background-attachment:scroll, fixed;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6))
    url("images/rouge-bricks.jpg");
    background-size: auto, cover;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
  
  padding: 5px;
}




